#indexPage {
  padding: 0px;
  margin: 0px;
  // width: 100%;
  // height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "head head"
    " api userstories";

  font-size: 18px;
  font-weight: 500;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}
body:before {
  z-index: -1;
  position: absolute;
  background-image: url("/public/assets/background-img.jpg");
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

h2,
h3 {
  display: block;
  text-align: center;
}

header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userstories {
  grid-area: userstories;
  display: flex;
  flex-direction: column;
  ///  padding: 10px;

  transition: all 2s ease-in;
  ol {
    list-style-type: upper-roman;
    li {
      padding: 10px;
    }
  }
}

#testui {
  grid-area: api;
  //  padding: 10px;
}

textarea,
input[type] {
  width: max(400px);
  height: 30px;
  border-radius: 20%;
  margin: 10px;
}
textarea:required,
input:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}
textarea:required:focus,
input:required:focus {
  border: 1px solid red;
  box-shadow: none;
}
textarea:required:valid,
input:required:valid {
  box-shadow: 4px 4px 20px rgba(0, 200, 0, 0.85);
}
input[type="checkbox"] {
  height: 50px;
}
label {
  font-size: 25px;
  font-weight: bolder;
}

button {
  border-radius: 50%;
  border-color: black;
  border-width: 5px;
  height: 100px;
  width: 100px;
}

.submitbtn {
  background-color: green;
}

#delbtn {
  background-color: red;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#jsonResult {
  width: max(100%);
  position: absolute;
  top: 100px;
  background-color: black;
  color: green;
  transition: 1s linear ease-in;
}
code {
  font-family: Courier, "New Courier", monospace;
  font-size: 18px;
}

.issue {
  border: black 5px dashed;
  margin: 10px 0px;
}

.open {
  background-color: limegreen;
}
.closed {
  background-color: darkgray;
}

#issuePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
